@model Schedule.Models.Calendar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.Task_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Task_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Calendar_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
