@model IEnumerable<Schedule.Models.Calendar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Filterable Table</h2>
<p>Type something in the input field to search the table for first names, last names or emails:</p>
<input id="myInput" type="text" placeholder="Search..">
<br>
<br>

<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Task Name:</th>
            <th>Month</th>
            <th>Year</th>
            <th>Day</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody id="myTable">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Task_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Calendar_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Calendar_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Calendar_id })
                </td>
            </tr>
        }

</table>
