@model Schedule.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Org_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Org_information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org_information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name_organizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_organizer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Org_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
